.App {
  text-align: center;
  margin-top: 50px;
}

.App-header {
  background-color: #222;
  height: 150px;
  xpadding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.smurfForm {
  margin-top: 30px;
  margin-bottom: 30px;
}

.smurf {
  margin-top: 20px;
  margin-bottom: 20px;
}
